<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Generate Document Form</title>
</head>
<body>
<h1>Generate Document Form</h1>
<form id="generateDocumentForm"  th:action="@{/documents/7/generate}" method="post">
    <label for="format">Select Format:</label>
    <select id="format" name="format">
        <option value="DOCX">DOCX</option>
        <option value="PDF">PDF</option>
        <option value="ODT">ODT</option>
    </select>
    <br>

    <!-- Создание полей ввода на основе ключей из модели-->
    <div id="variables">
        <div th:each="key : ${wordList}">
            <label th:for="${key}" th:text="${key}"></label>
            <input type="text" th:id="${key}" th:name="${key}">
            <br>
        </div>
    </div>

    <input type="submit" value="Generate Document">
</form>

<div id="result"></div>


